<a
  class="todo-list__item"
  data-o-type="object"
  data-o-key-id="{{todoList.id}}"
  data-o-key-name="{{todoList.name}}"
  data-w-key-name="innerText"
  href="{{pageAuthor.details.username}}/todo-list/{{todoList.id}}"
>
  <span>{{todoList.name}}</span>
  <span 
    class="todo-list__edit" 
    href="#"
    data-i-editable-with-remove="name(text-single-line)"
  >Edit</span>
</a>