<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kanban App</title>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/remake.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <div class="container">
    <div class="nav">
      <a class="logo" href="{{#if currentUser}}/{{currentUser.details.username}}{{else}}/{{/if}}">
        <img class="logo__image" src="/images/logo.svg">
        <span class="logo__text">TaskFellow <span class="logo__version">v1.0</span></span>
      </a>
      {{#if currentUser}}
        <div class="nav__user">
          <div>{{currentUser.details.username}}</div>
          <a class="nav__button" href="/user/logout">Logout</a>
        </div>
      {{else}}
        <div class="nav__user">
          <a class="nav__button" href="/user/signup">Sign up</a>
          <a class="nav__button" href="/user/login">Log in</a>
        </div>
      {{/if}}
    </div>
    {{#if flashErrors }}
      {{#each flashErrors }}
        <div class="flash flash--error">{{ this }}</div>
      {{/each}}
    {{/if}}
    {{#if flashSuccesses }}
      {{#each flashSuccesses }}
        <div class="flash flash--success">{{ this }}</div>
      {{/each}}
    {{/if}}
    {{> yield }}
  </div>
  {{#if isPageAuthor}}
    {{!-- Prevent loading the Remake framework if the page isn't editable --}}
    <script src="/js/remake-init.js"></script>
  {{/if}}
  <script src="/js/main.js"></script>
</body>
</html>